-if current_user
  %p.Likebutton.u-bg-grey-light.u-d-inline-block.js-likebutton{ data: { list_id: @list.id }, class: ('Likebutton--has-liked' if current_user.voted_up_on? @list) }
    =inline_svg 'heart.svg', class: 'Icon Icon--heart Likebutton__icon'
    %span.js-likebutton-count=@list.cached_votes_total
    likes

-else
  %p.Likebutton.u-bg-grey-light.u-d-inline-block.js-likebutton
    =inline_svg 'heart.svg', class: 'Icon Icon--heart Likebutton__icon'
    %span=@list.cached_votes_total
    likes
