-if current_user
  .likebutton.js-likebutton{ data: { list_id: @list.id }, class: ('likebutton--has-liked' if current_user.voted_up_on? @list) }
    %i.material-icons.likebutton__filled favorite
    %i.material-icons.likebutton__border favorite_border

-else
  .likebutton.js-likebutton
    %i.material-icons favorite_border
