-if current_user
  %p.Likebutton.u-d-inline-block.js-likebutton{ data: { list_id: @list.id }, class: ('Likebutton--has-liked' if current_user.voted_up_on? @list) }
    =inline_svg 'heart.svg', class: 'Icon Likebutton__icon'
    %span.u-fw-700.u-c-blue.js-likebutton-count=@list.cached_votes_total

-else
  %p.Likebutton.u-d-inline-block.js-likebutton
    =inline_svg 'heart.svg', class: 'Icon Likebutton__icon'
    %span.u-fw-700.u-c-blue=@list.cached_votes_total
