%li.collection-item.avatar
  %img.circle{src: list_item.image_url}/
  %span.title=list_item.title
  %p=list_item.description
  %a.secondary-content{:href => list_item.link}
    %i.material-icons grade
