.ListItem.u-mb-2
  =link_to user_list_path(list.user.name, list), class: 'ListItem-images' do
    -list.list_items.each_with_index do |item, index|
      -break if index > 2
      %img{ src: item.image_thumb, class: 'ListItem-image' }

  .ListItem-text.u-ml-2
    =link_to list.title, user_list_path(list.user.name, list), class: 'h3'

    %p
      Votes:
      =list.cached_votes_total

    =link_to "#{list.user.name}", user_path(list.user.name)

    -if current_user == list.user
      =link_to 'Edit', user_list_edit_path(current_user.name, list)

    .u-d-block
      =render :partial => "tags/tag_small", :collection => list.tags