%h1 All lists:
%ul
  -@lists.each do |list|
    %li=link_to list.title, list

=form_for @new_list do |f|
  %p
    Title:
    =f.text_field :title
  %p
    Description:
    =f.text_area :description, size: "60x12"
  =f.submit "Submit"