%h1="All of your lists, #{@user.name}"

=link_to 'Create new list', user_list_new_path(@user.name)
-unless @lists.empty?
  %ul
    -@lists.each do |list|
      %li
        =link_to list.title, user_list_path(list.user.name, list)
        =link_to "Remove", list, method: :delete
-else
  %p No list created yet.
