.container.u-py-4
  .Grid
    .Grid-cell.1-of-4--desk.u-t-align-right
    .Grid-cell.2-of-4--desk
      %h2 Add a new list
      %p.u-t-muted After you have created your list you can add items and tags to it.

  =form_for @list, html: { class: 'Form' } do |f|
    .Grid
      .Grid-cell.1-of-4--desk.u-t-align-right
        =f.label :title, 'List title'
      .Grid-cell.2-of-4--desk
        =f.text_field :title
      .Grid-cell.1-of-4--desk

    .Grid
      .Grid-cell.1-of-4--desk
      .Grid-cell.2-of-4--desk
        %button.Button.Button--withIcon{:name => "action", :type => "submit"}
          %i.material-icons add
          Create list
