-if @list
  %p.flow-text=@list.title
  %p=@list.description
  -if @list.tags
    .row
      .col.s12
        =render partial: "tags/tag", collection: @list.tags
  .row
    .col.s12
      %ul.collection
        =render partial: "lists/list_item", collection: @list.list_items
-else
  .row
    %p No list found.

-if current_user == @user
  .row
    .col.s12
      =link_to user_list_edit_path(current_user.name, @list), class: 'waves-effect waves-light btn' do
        %i.material-icons.left mode_edit
        Edit this list
