.container
  .List.u-mt-4
    -if @list
      .List-header.u-mb-3
        .List-title.u-pb-2.u-t-align-center.u-color-green=@list.title
        %p.List-subtitle.u-t-align-center
          by
          =link_to @user.name, user_path(@user.name)
          on 
          =@list.created_at.strftime('%d %B %Y')
        %p.List-description.u-pb-2=@list.description.html_safe
        %p.u-t-align-center
          =inline_svg 'heart.svg', class: 'Icon Icon--heart'
          =@list.cached_votes_total

        -if @list.tags
          .u-t-align-center
            =render partial: "tags/tag", collection: @list.tags

        -if current_user == @user
          .u-t-align-center
            =link_to 'Edit', user_list_edit_path(current_user.name, @list), class: 'Button'
      
      .List-itemsContainer
        =render partial: "lists/list_item", collection: @list.list_items


    -else
      %p No list found.

    -if current_user == @user
      =link_to 'Edit this list', user_list_edit_path(current_user.name, @list)

.u-bg-grey-light.u-mt-5
  .container
    .u-py-5
      %h3 Comment
      / #disqus_thread.u-color-grey
      / :javascript
      /   var disqus_config = function () {
      /   this.page.url = PAGE_URL;
      /   this.page.identifier = PAGE_IDENTIFIER;
      /   };

      /   (function() {
      /   var d = document, s = d.createElement('script');
      /   s.src = '//mytopten-1.disqus.com/embed.js';
      /   s.setAttribute('data-timestamp', +new Date());
      /   (d.head || d.body).appendChild(s);
      /   })();
