-if current_user == @user
  =link_to 'Edit', user_list_edit_path(current_user.name, @list), class: 'btn'
  =link_to 'Delete', user_list_destroy_path(current_user.name, @list), method: :delete, class: 'btn red'

-if @list
  %p=@list.title
  %p
    by
    =link_to @user.name, user_path(@user.name)
  %p=@list.description
  %p 
    This list is
    %strong
      -if @list.public
        public
      -else
        not public.

  %p
    This list has
    =@list.get_likes.size
    likes.

  =render partial: "lists/likebutton"
  

  %hr/
  -if @list.tags
    =render partial: "tags/tag", collection: @list.tags

  =render partial: "lists/list_item", collection: @list.list_items
-else
  .row
    %p No list found.

-if current_user == @user
  =link_to 'Edit this list', user_list_edit_path(current_user.name, @list)
