=content_for :page_title do
  =@list.title

.container
  .Grid
    .Grid-cell.2-of-3--desk
      .List.u-mt-4.u-mx-3
        -if @list
          .List-header.u-mb-3
            .List-title.u-pb-2.u-pt-1.u-t-align-center.u-fw-100.u-color-gamma=@list.title
            %p.List-subtitle.u-t-align-center.u-fw-100
              =@list.created_at.strftime('%d %B %Y')
              , by
              %span.u-fw-700.u-c-black
                =link_to @user.name, user_path(@user.name)

              -if current_user == @user
                .u-t-align-center.u-mb-3
                  =link_to 'Edit this list', user_list_edit_path(current_user.name, @list), class: 'Button'

            -if @list.tags
              .u-t-align-center
                =render partial: "tags/tag", collection: @list.tags

            .u-t-align-center.u-mt-2
              =render partial: "lists/likebutton", locals: { list: @list}

            .List-description.u-fw-100.u-pb-2=@list.description.html_safe

          
          .List-itemsContainer
            =render partial: "lists/list_item", collection: @list.list_items


        -else
          %p No list found.

    .Grid-cell.1-of-3--desk
      .u-p-1.u-mt-4
        %h2 Similar lists
        =render partial: "lists/list", collection: @lists, locals: { mod: 'small'}

.u-mt-5
  .container
    .u-py-5
      %h3 Comment
      / #disqus_thread.u-color-grey
      / :javascript
      /   var disqus_config = function () {
      /   this.page.url = PAGE_URL;
      /   this.page.identifier = PAGE_IDENTIFIER;
      /   };

      /   (function() {
      /   var d = document, s = d.createElement('script');
      /   s.src = '//mytopten-1.disqus.com/embed.js';
      /   s.setAttribute('data-timestamp', +new Date());
      /   (d.head || d.body).appendChild(s);
      /   })();
