-if @user.nil?
  %p No list found.
-else
  #js-react-listContainer
  :javascript
    $(document).ready(function() {
      var userName = '#{@user_name}';
      window.loadListView(userName, #{@list_id});
    });
