-if current_user == @user
  %p=link_to 'Edit this list', user_list_edit_path(current_user.name, @list)
-if @list
  -@list.tags.each do |tag|
    .Tag=link_to tag, tag_path(tag)
  %ul
    -@list.list_items.each do |list_item|
      %li
        %p=list_item.title
        %P=list_item.description
        %br/
        %a{:href => "#{list_item.link}"}<>
          %img{:src => "#{list_item.image_url}", :alt => "product image"}/
        %hr/

-else
  %p No list found.
