= form_tag password_resets_path, :method => :post do
  .input-field
    = label_tag :email
    = text_field_tag :email, nil, required: true, class: 'validate'
    %button.btn.waves-effect.waves-light{:name => "action", :type => "submit"}
      Reset my password!
      %i.material-icons.right send