= form_tag password_resets_path, :method => :post do
  .row
    .input-field.col.s12
      = label_tag :email
      = text_field_tag :email, nil, required: true, class: 'validate'
  .row
    .input-field.col.s12
      %button.btn.waves-effect.waves-light{:name => "action", :type => "submit"}
        Reset my password!
        %i.material-icons.right send