.Grid
  .Grid-cell.1-of-4--desk.u-t-align-right
  .Grid-cell.2-of-4--desk
    %h2 Forgot your password?

= form_tag password_resets_path, method: 'post', class: 'Form' do

  .Grid
    .Grid-cell.1-of-4--desk.u-t-align-right
      = label_tag :email
    .Grid-cell.2-of-4--desk

      = text_field_tag :email, nil, required: true, class: 'validate'

  .Grid
    .Grid-cell.1-of-4--desk.u-t-align-right
    .Grid-cell.2-of-4--desk
      %button{ name: 'action', type: 'submit', class: 'Button Button--withIcon' }
        Reset my password!
        %i.material-icons send