%h1 Amazon search results

-if @results 
  %ul
    -@results.each do |item|
      %li
        .Arrange
          .Arrange-sizeFit
            =link_to item[:amazon_url] do
              -if item[:thumbnail_url]
                =image_tag item[:thumbnail_url]
              -else
                no image
          .Arrange-sizeFill
            %h4="#{item[:title]}"
            %p="By #{item[:author]}"

%p ____________________________________________________________

%h3 debug @hash_result
=debug @hash_result
%h3 debug @items
=debug @items