=content_for :page_title do
  Your details

-unless @user.nil?
  .u-mb-3
    .container.u-py-2

      .Grid.Grid--flush.u-t-align-center
        .Grid-cell.1-of-3--handheld-and-up
          %p.u-m-0.u-t-uppercase
            All lists by
          %h2.u-m-0.u-fw-700
            =@user.name
        .Grid-cell.1-of-3--handheld-and-up
          %p.u-m-0.u-t-uppercase
            Lists
          %h2.u-m-0.u-fw-700
            =@lists.count
        .Grid-cell.1-of-3--handheld-and-up
          %p.u-m-0.u-t-uppercase
            Member since
          %h2.u-m-0.u-fw-700
            =distance_of_time_in_words_to_now(@user.created_at)

  .container
    -if current_user and current_user.id === @user.id
      .u-mb-3
        =link_to user_edit_path(@user.name), class: 'Button Button--withIcon' do
          %i.material-icons mode_edit
          Edit your account settings

    %h2 My lists
    -unless @lists.empty?
      .Grid
        -@lists.each do |list|
          .Grid-cell.1-of-2--handheld-and-up.1-of-4--desk
            =render partial: "lists/list", locals: { list: list, mod: 'small'}
    -else
      %p No lists created yet.

    %h2 My saved lists
    -unless @liked_lists.empty?
      .Grid
        -@liked_lists .each do |liked_list|
          .Grid-cell.1-of-2--handheld-and-up.1-of-4--desk
            =render partial: "lists/list", locals: { list: liked_list, mod: 'small'}
    -else
      %p No lists saved yet.
