
-unless @user.nil?
  .row
    .col.s12
      %h4
        =@user.name
      %p.flow-text
        Email:
        =@user.email
      %p.flow-text
        Number of lists:
        =@lists.count

  =render @lists
