-unless @user.nil?
  .u-bg-grey-light.u-mb-5
    .container.u-py-5
      %h2
        ="All lists by #{@user.name}"
      %p
        Email:
        =@user.email
      %p
        Number of lists:
        =@lists.count

  .container
    =render @lists
