html {
  background-color: $blue-xlight;
}

body {
  position: relative;
  min-height: 100%;
  padding-top: 63px;
  padding-bottom: 75px;
  background-color: $white;
}

@include av-mq(lap-and-up) {
  body {
    padding-top: 0;
  }
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding-left: $base-spacing * 1.5;
  padding-right: $base-spacing * 1.5;
  box-sizing: border-box;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.Grid { font-size: 0; }