body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $green;
  text-decoration: none;

  &:hover {
    color: $grey;
  } 
}

h2,
.h2
 {
  color: $green;
  font-weight: 500;
  font-size: 23px;
  text-decoration: none;
}

h3,
.h3 {
  color: $grey;
  font-weight: 500;
  font-size: 22px;
  text-decoration: none;
}