body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

::selection {
  background: rgba($blue, 0.5);
}

p {
  margin-top: 0;
  line-height: 1.7;
}

a {
  text-decoration: none;
  transition: color 150ms;
  color: $blue;

  &:hover {
    color: $blue-light;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  margin-bottom: $base-spacing;
}

h2,
.h2
 {
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h3,
.h3 {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}