body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $green;
  text-decoration: none;

  &:hover {
    color: $green-dark;
  } 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h2,
.h2
 {
  color: $green;
  font-weight: 600;
  font-size: 23px;
  text-decoration: none;
}

h3,
.h3 {
  color: $grey;
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
}