$white: #ffffff;
$black: #000000;
$blue: #008dff;
$grey-light: #fcfcfc;
$grey: #d8d8d8;
$grey-dark: #aaaaaa;

$colors:
  (white, $white),
  (black, $black),
  (blue, $blue),
  (grey, $grey),
  (grey-light, $grey-light),
  (grey-dark, $grey-dark);

$base-spacing: 0.8rem;
