.row
  %p.flow-text My top Ten Lists
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus faucibus finibus lacus, ut vehicula augue dignissim nec. Nullam scelerisque venenatis neque non ullamcorper. Quisque ac libero ac lacus porta viverra sit amet pharetra lacus. Nunc vehicula orci et metus rutrum fermentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum nec orci sit amet quam eleifend eleifend. Phasellus faucibus enim accumsan erat accumsan, ut accumsan ipsum condimentum. Sed vitae ullamcorper dui. Quisque cursus risus consectetur, mollis urna eget, congue libero. Maecenas vitae aliquam risus. Vivamus at commodo purus. In elementum ac magna non feugiat. In faucibus sit amet orci vel tincidunt. Phasellus in fringilla metus.
.row

  -unless @lists.empty?
    =render partial: "lists/list_card", collection: @lists
    -@lists.each do |list|
      -if list.public
        .col.s12.m4.l3
          .card.small
            .card-image
              %img{:src => "http://lorempixel.com/400/400"}/
              %span.card-title=link_to list.title, user_list_path(list.user.name, list)
            .card-content
              %p=list.description
            .card-action
              =link_to "See List", user_list_path(list.user.name, list)
              =link_to "by #{list.user.name}", user_path(list.user.name)

  -else
    %p.flow-text No lists created yet.

%a{:href => "/lists/6", :data => {:method => "delete"}, :rel => "nofollow"} delete