.SiteWrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 25px;
}

form {
  margin-top: 16px;
}

.Navbar {
  padding: 10px 40px;
  border-bottom: 1px solid grey;
}

.Navbar-item {
  display: inline-block;
  margin-right: 30px
}

.ContentWrapper {
  margin-top: 50px;
}