textarea {
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none;
  border: 1px solid rgba(255, 0, 0, 0);
  box-sizing: border-box;
  transition: all 0.3s ease;

  &:hover {
    border: 1px solid grey;
  }

  &:focus {
    border: 1px solid green;
  }
}