=link_to tag_path(tag_detailed.name), class: 'Tag Tag--detailed u-mb-1 u-mr-1' do
  %p.u-p-05.u-bg-blue-light.u-d-inline-block
    =tag_detailed.taggings_count
  %span.u-p-05.u-pr-1
    ="#{tag_detailed.name}"
