.Tag.Tag--detailed
  =link_to tag_path(tag_detailed.name) do
    %span.Tag.u-px-2.u-py-1.u-bg-green.u-color-white.u-mb-2.u-mr-1
      ="#{tag_detailed.name}"
  %span.u-mr-2.u-mb-2
    ="#{tag_detailed.taggings_count} Lists"