=content_for :page_title do
  Filter all lists

-if @all_tags
  #js-react-tagFilterContainer.u-mb-1
    :javascript
      $(document).ready(function() {
        window.loadTagFilterView();
      });

.container
  .Grid.Grid--flush
    -if @lists.empty?
      .Grid-cell
        .u-bg-blue-light.u-c-white.u-t-align-center.u-py-3.u-px-2.u-fw-100.u-br-3
          %span.u-fw-700 No lists with these tags found.
          You can remove some tags or try a different combination.

    -else
      -@lists.each do |list|
        .Grid-cell.1-of-4--desk
          =render list