=content_for :page_title do
  Filter all lists

-if @all_tags
  #js-react-tagFilterContainer.u-mb-1
    :javascript
      $(document).ready(function() {
        window.loadTagFilterView();
      });

.u-pt-4.u-pb-4
  .container
    .Grid

      -if @lists.present?

        -@lists.each do |list|
          .Grid-cell.1-of-4--desk.2-of-4--handheld-and-up
            =render list

      -else

        -if @tags.present?

          .Grid-cell
            .u-bg-blue-light.u-c-white.u-t-align-center.u-py-3.u-px-2.u-fw-100.u-br-3
              No lists with all of these tags found.

        -else

          .Grid-cell
            .u-bg-blue-light.u-c-white.u-t-align-center.u-py-3.u-px-2.u-fw-100.u-br-3
              Click a tag to start filtering. You can combine multiple tags to find the content you are looking for.