-if @all_tags
  #js-react-tagFilterContainer.u-mb-4
    :javascript
      $(document).ready(function() {
        window.loadTagFilterView();
      });


.container
  -unless @lists.empty?
    %p.u-t-muted="#{@lists.size} lists"
    .Grid
      -@lists.each do |list|
        .Grid-cell.1-of-3--desk
          =render list
  -else
    %p No lists created yet.