-if @all_tags
  #js-react-tagFilterContainer.u-mb-4
    :javascript
      $(document).ready(function() {
        window.loadTagFilterView();
      });


.container
  -unless @lists.empty?
    %h2
      %span.u-fw-700="#{@lists.size}"
      lists
    .Grid
      -@lists.each do |list|
        .Grid-cell.1-of-3--desk
          =render list
  -else
    %h2
      No lists found with 
      %span.u-fw-700 all
      of these tags.
    %p You can remove some tags to see better results or try different tag-combinations.