.u-bg-beta.u-p-3.u-mb-3
  .container
    .Grid.Grid--flush.u-t-align-center
      .Grid-cell.1-of-3--handheld-and-up
        %p.u-t-uppercase
          All tags
        %span.u-m-0
          Here are all tags in a handy list
      .Grid-cell.1-of-3--handheld-and-up
        %p.u-m-0.u-t-uppercase
          Tags
        %h2.u-m-0.u-fw-700
          =@tags.size
      .Grid-cell.1-of-3--handheld-and-up
        %p.u-m-0.u-t-uppercase
          Lists
        %h2.u-m-0.u-fw-700
          =@total_lists_count

-if @tags
  .container
    .Tags.u-mb-5
      =render partial: "tags/tag_detailed", collection: @tags
-else
  %p No tags found.