.u-bg-beta.u-mb-5
  .container.u-py-5
    .Grid
      .Grid-cell.2-of-3--desk
        %h2="All lists tagged with '#{@tag_name}'"
        %p="We have found #{@lists.size} lists with htis tag."

.container
  .Grid
    .Grid-cell.2-of-3--desk
      -unless @lists.empty?
        =render @lists
      -else
        %p No lists created yet.
    .Grid-cell.1-of-3--desk
      %h2 Sidebar
      %p More content herer.