@each $colorname, $color in $colors {
  .u-bg-#{$colorname} {
    background-color: $color !important;
  }

  .u-c-#{$colorname},
  .u-c-#{$colorname} a {
    color: $color !important;
    fill: $color !important;
  }
}