@each $colorname, $color in $colors {
  .u-bg-#{$colorname} {
    background-color: $color;
  }

  .u-color-#{$colorname} {
    color: $color;
  }
}

.u-bg-grad-mint {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7dfa97+0,76eda6+100 */
  background: #7dfa97; /* Old browsers */
  background: -moz-linear-gradient(left, #7dfa97 0%, #76eda6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #7dfa97 0%,#76eda6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #7dfa97 0%,#76eda6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dfa97', endColorstr='#76eda6',GradientType=1 ); /* IE6-9 */
}