.Button {
  position: relative;
  display: inline-block;
  padding: 6px 16px;
  margin-right: 5px;
  border: 1px solid $blue;
  border-radius: 2px;
  transition: all 100ms ease-in;
  background-color: $blue;
  font-weight: 100;
  font-size: 18px;
  cursor: pointer;
  color: $white;

  > .material-icons {
    position: absolute;
    top: 6px;
    left: 9px;
  }

  &:not(.Button--disabled):hover {
    background-color: $blue;
    border-color: $blue;
    color: $white;

    > .material-icons {
      color: $white;
    }
  }

  &:not(.Button--disabled):active {
    background-color: darken($blue, 10%);
  }
}

.Button--withIcon {
  padding-left: 36px;
}

.Button--disabled {
  cursor: not-allowed;
}

.Button--inactive {
  color: $blue;
  border-color: rgba($blue, 0.2);
  background-color: transparent;

  > .material-icons {
    color: $grey;
  }
}

.AddNewButton i {
  position: fixed;
  bottom: 30px;
  left: 40px;
  padding: 15px;
  font-size: 30px;
  background-color: $blue;  
  border-radius: 40px;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.35);
  transition: all 300ms ease;
  transform: translateY(0);

  &:hover {
    background-color: $blue;
    color: $white;
    transform: translateY(-5px);
  }
}