.Button {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid $c-gamma;
  border-radius: 3px;
  cursor: pointer;
  transition: all 100ms ease-in;
  background-color: transparent;
  margin-right: 10px;

  > .material-icons {
    position: absolute;
    top: 6px;
    left: 9px;
  }

  &:not(.Button--disabled):hover {
    background-color: $c-gamma;
    border-color: $c-gamma-dark;
    color: $white;

    > .material-icons {
      color: $white;
    }
  }
}

.Button--withIcon {
  padding-left: 36px;
}

.Button--disabled {
  color: $grey-med;
  border-color: $grey-med;
  cursor: not-allowed;

  > .material-icons {
    color: $grey-med;
  }
}