footer {
  height: 400px;
  border-top: 3px solid $blue;
  background-color: $black;

  h2 {
    position: relative;
    padding-bottom: 20px;
    color: $blue;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: $blue;
      width: 30px;
    }
  }

  a {
    color: $blue;
    display: block;
    padding: 10px 0;
  }
}