.Form {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea {
    @extend .u-mb-2;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.8rem 0.3rem;
    border: 1px solid $blue-light;
    border-radius: 3px;
    background-color: $white;
    line-height: 1.6;
    appearance: none;
    box-shadow: 0 2px 7px rgba(10, 10, 10, 0.2);
    transition: border-color 100ms ease-in;

    &:focus {
      border-color: $blue;
      outline: none;
    }
  }

  label {
    font-weight: 700;
    line-height: 2.6;
  }

  input[type="checkbox"] {
    margin-right: 10px;
  }

  input[type="file"] {
    margin-bottom: 2rem;
    width: 100%;
  }

  .field_with_errors {
    input,
    textarea {
    border-color: $blue;
    }
  }
}

.Form--lines {

}