.Likebutton {
  opacity: 1;
  transition: opacity 150ms;
  cursor: pointer;
  font-size: 24px;
  padding: 2px 20px;
  border-radius: 3px;

  &.is-disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.Likebutton__icon.Icon {
  width: 22px;

  #fill {
    fill: transparent;

    .Likebutton--has-liked & {
      fill: $black;
    }
  }

  #border {
    fill: $black;
  }
}