.List-editButton {
  position: absolute;
  top: 0;
  right: -42px;

  .Icon {
    width: 28px;
    height: 28px;
    margin-top: 20px;
  }

  #fill {
    fill: $blue !important;
  }
}

.List-title {
  font-size: 44px;
  position: relative;
  max-width: 80%;
  font-weight: 400;
}

.List-description {
  line-height: 1.5;
}

.List-description,
.List-itemsContainer {
  max-width: 600px;
  margin: 0 auto;
}

.List-item {
  position: relative;
}

.List-itemCounter {
  position: absolute; 
  left: -67px;
  height: 60px;
  width: 60px;
  padding: 0;
  font-size: 38px;
  color: $blue;
  border: 1px solid $blue;
  text-align: center;
  line-height: 1.5;
}

.List-itemTitle {
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  font-size: 16px;
}

.List-itemDescription {
  font-size: 14px;
}
