.ListTeaser {
  border: 1px solid rgba($blue, 0.35);
  border-radius: 6px;
  box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.35);
  transition: all 250ms;
  transform: translateY(0);

  .h3 {
    margin-bottom: 0;
  }

  &:hover {
    border: 1px solid $blue;
    box-shadow: 0 5px 25px -8px rgba(0, 0, 0, 0.35);
    transform: translateY(-2px);
  }
}

.ListTeaser--small .ListTeaser-imageWrapper {
  display: none;
}

.ListTeaser-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  color: $black;
}

.ListTeaser-images {
  position: relative;
  font-size: 0;
}

.ListTeaser-image {
  width: calc(33% - 10px);

  > img {
    max-width: none;
    width: 100%;
    height: auto;
  }
}

.ListTeaser-items {
  color: $black;
}

.ListTeaser-number {
  background-color: $blue;
  border-radius: 50px;
  color: $white;
  width: 25px;
  height: 25px;
  min-width: 25px;
  line-height: 1.6em;
}

.ListTeaser-metabox {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 12px;

  .Icon {
    width: 16px;
    height: auto;
    margin-bottom: -2px;
    margin-right: 3px;
  }
}

.ListTeaser-moreLink {
  color: $white;
  opacity: 0.8;
  transition: opacity 150ms;

  &:hover {
    color: $white;
    opacity: 1;
  }
}
