.MainNav {
  display: flex;
  justify-content: space-between;
  padding-top: $base-spacing * 1.5;
  padding-bottom: $base-spacing * 1.5;
}

.MainNav-links {
  display: flex;
}

.MainNav-link {
  display: block;

  > a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    padding-left: 40px;
    font-size: 23px;
    text-transform: uppercase;

    &:hover {
      color: $green;
    }
  }
}