.Qwant {
    display: none;
    position: fixed;
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;
    height: calc(100% - 60px);
    box-sizing: border-box;
    padding: 30px;
    border-radius: 8px;
    border: 3px solid $blue;
    z-index: 100;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 4px 11px 0px rgba(10, 10, 10, 0.2);

    &.is-active {
        display: block;
    }
}

.Qwant__queryInput {
    width: 60% !important;
    margin-right: 10px;
}

.Qwant__results-wrapper {
    height: 100%;
}

.Qwant__results {
    overflow-y: auto;
    height: 100%;
}
