#toast-container > div {
  opacity: 1;
  box-shadow: none;
}

.toast {
  background-color: $blue;
}

.toast-success {
  background-color: $blue;

  .toast-message {
    color: $blue;
  }
}

.toast-error {
  background-color: $blue;
}

.toast-info {
  background-color: $blue;
}

.toast-warning {
  background-color: $blue;
}