.Item {
  position: relative;
  display: flex;
  margin-bottom: 30px;
}

.Item--ghost {
  opacity: 0;
}

.Item--chosen {
}

.Item-mediaContainer {
  padding: 20px;
  background-color: #ECECEC;
}

.Item-textContainer {
  padding: 20px;
}

.Item-dragHandle {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 50px;
  background: green;
  cursor: move;
}

.ListItem-input--hidden {
  display: none;
}