.likebutton {
  cursor: pointer;
}

.likebutton.is-disabled {
  color: grey;
  cursor: progress;
}

.likebutton__filled {
  display: none;
}

.likebutton__border {
  display: block;
}

.likebutton--has-liked {
  .likebutton__filled {
    display: block;
  }

  .likebutton__border {
    display: none;
  }
} 

