.u-bg-grey
  %nav.MainNav.container
    =link_to root_path, class: 'MainNav-logo' do
      =image_tag "logo.svg"
    %ul.MainNav-links
      %li.MainNav-link
        =link_to 'Lists', root_path
      %li.MainNav-link
        =link_to 'Tags', tags_path
      %li.MainNav-link
        =link_to 'Newest', root_path