.u-bg-alpha
  %nav.MainNav.container
    =link_to root_path, class: 'MainNav-logo' do
      =inline_svg "logo.svg"
    %ul.MainNav-links
      %li.MainNav-link
        =link_to 'Popular lists', root_path, class: current_page?(root_path) ? 'is-active' : ''
      %li.MainNav-link
        =link_to 'Newest lists', root_path, class: current_page?(root_path) ? 'is-active' : ''
      %li.MainNav-link
        =link_to 'Explore tags', tags_path, class: current_page?(tags_path) ? 'is-active' : ''

      -if logged_in?
        %li.MainNav-link
          =link_to current_user.name, user_path(current_user.name)
        %li.MainNav-link
          =link_to 'Log Out', user_log_out_path, method: :delete
      -else
        %li.MainNav-link
          =link_to 'Login', user_log_in_path, class: current_page?(user_log_in_path) ? 'is-active' : ''